.text-white{
    color: #FFF;
}

.bg-blue {
    background: #2c53ff;
}

.bg-dark-blue{
    background: #12103B;
}

.bg-orange{
    background: #EA4C3A;
}

.bg-violet{
    background: #B827D6;
}

.bg-yellow{
    background: #FFCD69;
}

.bg-dark{
    background: #1e1e1e;
}

.bg-pink{
    background: #FF1A65;
}